 <h1>New Addition</h1>

<form action="/add_results">
  <div>
    <label for="number1">Add this:</label> <input type="text" name="number1" id="number1">
  </div>
  <div>
    <label for="number2">to this:</label> <input type="text" name="number2" id="number2">
  </div>
  <button>Add!</button>
</form>