 <h1>New Division</h1>

<form action="/divide_result">
  <div>
    <label for="number1">Divide this:</label> 
    <input type="text" name="number1" id="number1">
  </div>
  <div>
    <label for="number2">by this:</label> 
    <input type="text" name="number2" id="number2">
  </div>
  <button>Divide!</button>
</form>