 <h1>New Multiplication</h1>

<form action="/multiply_result">
  <div>
    <label for="number1">Multiply this:</label> 
    <input type="text" name="number1" id="number1">
  </div>
  <div>
    <label for="number2">by this:</label> 
    <input type="text" name="number2" id="number2">
  </div>
  <button>Multiply!</button>
</form>